<mat-card class="itweb-inner-form">
  <!--<label style="text-align: right">Estado <i class="material-icons">keyboard_arrow_right</i> Nuevo</label>-->
  <mat-card-title style="text-align: center;">
    <span>Cátalogo de PDMs</span>
    <br>
    <span style="font-size: small">{{data.accion}}</span>
  </mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field style="width: 350px">
        <input matInput placeholder="Código Actual:" [formControl]="urlprocValidator"
               [errorStateMatcher]="matcher" required [(ngModel)]="pdm.codigoactual" name="urlproc">
        <mat-error *ngIf="urlprocValidator.hasError('required')">
          Campo <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field maxlength="30%">
        <input matInput placeholder="Código PDM" [formControl]="idCursoValidator"
               [errorStateMatcher]="matcher" required [(ngModel)]="pdm.codigoanterior" name="idcurso" maxlength="25">
        <mat-error *ngIf="idCursoValidator.hasError('required')">
          Campo <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 60%">
        <input matInput placeholder="Titulo del PDM" required [formControl]="nombreCursoValidator" [(ngModel)]="pdm.titulo" name="nombrecurso">
        <mat-error *ngIf="nombreCursoValidator.hasError('required')"> Campo <strong>requerido</strong></mat-error>
        <mat-error *ngIf="nombreCursoValidator.hasError('maxlength')"> No pude tener mas de 50 caracteres</mat-error>
      </mat-form-field>
      <br>
           <div class="mat-row">
               <mat-form-field>
                 <input matInput [matDatepicker]="picker" placeholder="Fecha Efectiva" name="fecha" [(ngModel)]="pdm.fechaefectiva">
                 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>
               <mat-form-field>
                 <mat-select placeholder="Status - Sel. Uno" [(ngModel)]="pdm.status" name="status">
                   <mat-option *ngFor="let estado of status" [value] = "estado.idStatus">
                     {{ estado.nombreStatus }}
                   </mat-option>
                 </mat-select>
               </mat-form-field>
               <mat-form-field style="width: 350px;">
                 <input matInput placeholder="Dueño del Documento" aria-label="prop" [formControl]="propietarioCtrl" [(ngModel)]="pdm.duenodoc" name="duenio"> <!-- [matAutocomplete]="auto" > -->
                 <!--<mat-autocomplete #auto="matAutocomplete">
                   <mat-option *ngFor="let propdoc of propDoctos | async" [value]="propdoc.nombrePropietario">
                     <span>{{ propdoc.nombrePropietario }}</span> |
                   </mat-option>
                 </mat-autocomplete>-->
               </mat-form-field>
               <mat-form-field> <!-- style="width: 350px;">-->
                 <mat-select placeholder="Nombre del Proces" [(ngModel)]="pdm.proceso" name="proceso">
                   <mat-option *ngFor="let proceso of procesos" [value] = "proceso.idProceso">
                     {{proceso.nombreProceso}}
                   </mat-option>
                 </mat-select>
               </mat-form-field>
           </div>
      <br>
          <div class="mat-row">
            <mat-form-field> <!-- style="width: 350px;">-->
              <mat-select placeholder="Area" [(ngModel)]="pdm.area" name="area">
                <mat-option *ngFor="let area of areas" [value] = "area.idArea" aria-selected="true">
                  {{ area.nombreArea }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field> <!-- style="width: 350px;">-->
              <mat-select placeholder="Estatus" [(ngModel)]="pdm.estatus" name="estatus">
                <mat-option *ngFor="let estado of estatus" [value] = "estado.idEstatus">
                  {{ estado.nombreEstatus}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      <button mat-raised-button="" style="color: darkgreen;"><i class="material-icons">check</i>Aceptar</button>
      <button mat-raised-button="" style="color: darkred;" (click)="onCancel()"><i class="material-icons">cancel</i>Cancelar</button>
    </form>
  </mat-card-content>
</mat-card>
