<mat-card class="itweb-inner-form">
  <!--<label style="text-align: right">Estado <i class="material-icons">keyboard_arrow_right</i> Nuevo</label>-->
  <mat-card-title style="text-align: center;">
    <span>Cátalogo de PDMs</span>
    <br>
    <span style="font-size: small">{{data.accion}}</span>
  </mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field style="width: 350px">
        <input matInput placeholder="Código Actual:" [formControl]="urlprocValidator"
               [errorStateMatcher]="matcher" required [(ngModel)]="pdm.cveActualpdm" name="urlproc">
        <mat-error *ngIf="urlprocValidator.hasError('required')">
          Campo <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 60%">
        <input matInput placeholder="Titulo del PDM" required [formControl]="nombreCursoValidator" [(ngModel)]="pdm.tituloPdm" name="nombrecurso">
        <mat-error *ngIf="nombreCursoValidator.hasError('required')"> Campo <strong>requerido</strong></mat-error>
        <mat-error *ngIf="nombreCursoValidator.hasError('maxlength')"> No pude tener mas de 50 caracteres</mat-error>
      </mat-form-field>
      <br>
           <div class="mat-row">
               <mat-form-field>
                 <input type="text" matInput [matDatepicker]="picker" placeholder="Fecha Efectiva" name="fecha" [(ngModel)]="pdm.fechaEfectivaPdm">
                 <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>
               <mat-form-field style="width: 350px;">
                 <input type="text" matInput placeholder="Dueño del Documento" [formControl]="propietarioCtrl"
                        [(ngModel)]="pdm.duenoDocPdm" name="duenioDoc">
               </mat-form-field>
           </div>
          <br>
      <div class="mat-row">
            <mat-form-field> <!-- style="width: 350px;">-->
              <mat-select placeholder="Area" [(ngModel)]="pdm.fk_areaPdm" name="area">
                <mat-option *ngFor="let area of areas" [value] = "area.id" aria-selected="true">
                  {{ area.nombreArea }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field> <!-- style="width: 350px;">-->
              <mat-select placeholder="Estatus" [(ngModel)]="pdm.fk_estatusPdm" name="estatus">
                <mat-option *ngFor="let estado of estatus" [value] = "estado.idEstatus">
                  {{ estado.nombreEstatus}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      <br>
      <div class="mat-row">
          <mat-checkbox [(ngModel)]="pdm.activo" id="pdm_activo" name="pdm_activo">Activo</mat-checkbox>
      </div>
      <br>
      <button mat-raised-button="" style="color: darkgreen;" (click)="onAceptar()"><i class="material-icons">check</i>Aceptar</button>
      <button mat-raised-button="" style="color: darkred;" (click)="onCancel()"><i class="material-icons">cancel</i>Cancelar</button>
    </form>
  </mat-card-content>
</mat-card>
