
<h2 mat-dialog-title>{{datos.accion}}</h2>
<div mat-dialog-content>
  <mat-form-field style="width: 30%">
    <input matInput placeholder="Cve. Area:" required [(ngModel)]="currarea.idArea" name="idarea">
  </mat-form-field>
  <mat-form-field style="width: 70%">
    <input matInput placeholder="Nombre del Aarea:" required [(ngModel)]="currarea.nombreArea" name="nombrearea">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button=""><i class="material-icons">check</i>Aceptar</button>
  <button mat-raised-button="" (click)="onCancel()"><i class="material-icons">cancel</i>Cancelar</button>
</div>
