<!--The content below is only a placeholder and can be replaced.-->
<!--<div class="logo">
  <p>Mead Johnson Nutrition</p>
</div>-->
<img src="../images/meadjohnson.jpg" width="200px">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MJN Capacitación</span>
    <span class="spacer"></span>

    <mat-menu #operacionesMenu="matMenu" yPosition="above" [overlapTrigger]="false">
      <button mat-menu-item>Operación 1</button>
      <button mat-menu-item>Operación 1</button>
      <button mat-menu-item>Operación 1</button>
      <button mat-menu-item>Operación 1</button>
    </mat-menu>

    <button mat-button="" [matMenuTriggerFor]="operacionesMenu" disabled>
      <i class="material-icons">work</i>
      Operación
    </button>

    <mat-menu #consultasMenu="matMenu" yPosition="above" [overlapTrigger]="false">
      <button mat-menu-item>Consultas 1</button>
      <button mat-menu-item>Consultas 1</button>
      <button mat-menu-item>Consultas 1</button>
      <button mat-menu-item>Consultas 1</button>
    </mat-menu>

    <button mat-button="" [matMenuTriggerFor]="consultasMenu" disabled>
      <i class="material-icons">folder</i>
      Consultas y Reportes
    </button>

    <mat-menu #configMenu="matMenu" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item [routerLink]="['/cfg-cap-general']">Catálogo de Cursos en General</a>
      <a mat-menu-item [routerLink]="['/cfg-cap-especifica']">Catálogo de Cursos Especificos</a>
      <a mat-menu-item [routerLink]="['/cfg-cap-pdm']">Catálogo de PDMs</a>
      <hr>
      <a mat-menu-item [routerLink]="['/my-grid-application']">Config 1</a>
  </mat-menu>

    <button mat-button="" [matMenuTriggerFor]="configMenu">
      <i class="material-icons">settings</i>
      Configuración
    </button>

    <mat-menu #seguridadMenu="matMenu" yPosition="above" [overlapTrigger]="false">
      <button mat-menu-item>Usuarios</button>
      <button mat-menu-item>Perfiles</button>
    </mat-menu>

    <button mat-button="" [matMenuTriggerFor]="seguridadMenu" disabled>
      <i class="material-icons">lock_outline</i>
      Configuración
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
<!--<app-grid></app-grid>-

<app-cfg-cap-pdm></app-cfg-cap-pdm>
<!--<app-cfg-cap-especifica></app-cfg-cap-especifica>
<app-cfg-cap-general></app-cfg-cap-general>-->


