<mat-card class="itweb-form">
  <mat-card-header class="itweb-formtitle">
    <mat-card-title><h3>Catálogo de Cursos PDMs</h3></mat-card-title>
  </mat-card-header>

  <mat-toolbar>
    <mat-toolbar-row>
      <div class="button-row">
        <button mat-button="" id="new" (click)="onClickNewButton()">
          <i class="material-icons">add_circle_outline</i>
          Nuevo
        </button>
        <button mat-button="" id="edit" (click)="onClickEditButton()">
          <i class="material-icons">edit</i>
          Editar
        </button>
        <button mat-button="" id="delete" (click)="onClickDeleteButton()">
          <i class="material-icons">delete</i>
          Borrar
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card-content>
    <div style="width: 100%;">
      <ag-grid-angular #agGrid style="width: 100%; height: 250px;" class="ag-theme-fresh"
                       id="pdmGrid"
                       rowHeight="18px"
                       [gridOptions]="gridOptions"
                       [autoGroupColumnDef]="gridOptions.columnDefs"
                       [rowData]="gridOptions.rowData"
                       (selectionChanged)="onSeletedRow($event)"
                       (gridReady)="onGridReady($event)"
                       (rowDoubleClicked)="editReg($event)"
      >
      </ag-grid-angular>
    </div>
  </mat-card-content>
</mat-card>
