<mat-card class="itweb-inner-form">
  <mat-card-title style="text-align: center;">
    <span>{{titulo}}</span>
    <!--    <br>
        <span style="font-size: small">{{data.accion}}</span>-->
  </mat-card-title>
  <mat-card-content >
    <form>
      <table style="width: 100%;">
        <tr>
          <td class="it-web-table-container" style="width: 20%;">
            <p class="it-web-table-container-section-title">Información del Curso:</p>
            <div class="itweb-tool-bar mat-elevation-z2">
              <mat-form-field style="width: 100%;">
                <mat-select placeholder="Area" [(ngModel)]="currarea_pdm" name="area_pdm" (selectionChange)="getCursosByArea()">
                  <mat-option *ngFor="let area_pdm of areas_pdm" [value]="area_pdm.id" style="height: 32px; font-size: 12px; padding: 10px; margin: 0;">
                    {{ area_pdm.nombreArea}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width: 100%;">
                <mat-select placeholder="Nombre Procedimiento" [(ngModel)]="currCurso.id" name="curso" (selectionChange)="getInfoCurso()">
                  <mat-option *ngFor="let curso of cursos" [value] = "curso.id" style="height: 32px; font-size: 12px; padding: 10px; margin: 0;">
                    {{ curso.tituloPdm }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br>
            <table style="width: 100%">
              <tr >
                <td class="itweb-det-etiquetas itweb-tablerow-style" width="30%">Código Procedimiento:</td>
                <td class="itweb-det-campos itweb-tablerow-style">{{currCurso.cveActualpdm}}</td>
              </tr>
              <!--<tr>
                <td class="itweb-det-etiquetas itweb-tablerow-style">Titulo:</td>
                <td class="itweb-det-campos itweb-tablerow-style">{{currCurso.tituloPdm}}</td>
              </tr>
              <tr>
                <td class="itweb-det-etiquetas itweb-tablerow-style">Area Resp:</td>
                <td class="itweb-det-campos itweb-tablerow-style">{{currCurso.area_imparte_curso}}</td>
              </tr>-->
              <tr>
                <td class="itweb-det-etiquetas itweb-tablerow-style">Responsable del Proceso:</td>
                <td class="itweb-det-campos itweb-tablerow-style">{{currCurso.duenoDocPdm}}</td>
              </tr>
              <!--<tr>
                <td class="itweb-det-etiquetas itweb-tablerow-style">Duración:</td>
                <td class="itweb-det-campos itweb-tablerow-style">{{currCurso.duracionCurso}}</td>
              </tr>-->
              <tr>
                <td class="itweb-det-etiquetas itweb-tablerow-style">Estatus:</td>
                <td class="itweb-det-campos itweb-tablerow-style">{{ currCurso.fk_estatusPdm }}</td>
              </tr>
            </table>
          </td>
          <td class="it-web-table-container" style="width: 30%;">
            <p class="it-web-table-container-section-title">Fechas:</p>
            <div class="itweb-tool-bar mat-elevation-z2">
              <mat-form-field style="width: 90px;">
                <input type="text" matInput placeholder="Fecha" [(ngModel)]="editCurrTrainingDate.initial_date"
                       name="fecha_programada" [matDatepicker]="picker" [disabled]="!selectedPdm">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <hr>
              <!--<mat-checkbox [(ngModel)]="currTrainingDate.estatus" name="trainingDate_activo" aria-checked="true">Activo</mat-checkbox>-->
              <button type="button" mat-button [disabled]="!selectedPdm" (click)="addDate()" color="accent">
                <i class="material-icons">add_circle_outline</i>Agregar
              </button>
              <button type="button" mat-button [disabled]="!selectedPdm" (click)="editDate()" color="accent">
                <i class="material-icons">edit</i>Editar
              </button>
              <!--<button type="button" mat-icon-button [disabled]="!currCurso.estatus_curso" (click)="deleteDate()"><i class="material-icons">indeterminate_check_box</i></button>-->
            </div>
            <ag-grid-angular #agGrid style="width: 100%; height: 200px;" class="ag-theme-fresh"
                             id="datesGrid"
                             rowHeight="18px"
                             [gridOptions]="datesGrid"
                             [autoGroupColumnDef]="datesGrid.columnDefs"
                             [rowData]="datesGrid.rowData"
                             (rowSelected)="onChangeSelectedDatesGridRow($event)"
                             (selectionChanged)="onSeletedDatesGridRow($event)"
                             (gridReady)="onDatesGridReady($event)"
            >
            </ag-grid-angular>
          </td>
          <td class="it-web-table-container" style="width: 50%;">
            <p class="it-web-table-container-section-title">Participantes:</p>
            <div class="itweb-tool-bar mat-elevation-z2">
              <mat-form-field style="width: 120px">
                <mat-select placeholder="Area" name="area" [disabled]="!currTrainingDate.id" [(ngModel)]="selectedArea"
                            (selectionChange)="areaChange()">
                  <mat-option value="0" style="height: 32px; font-size: 12px; padding: 10px; margin: 0;">Todas</mat-option>
                  <mat-option *ngFor="let area of areas" [value]="area.id" style="height: 32px; font-size: 12px; padding: 10px; margin: 0;">
                    {{area.nombreArea}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width: 120px">
                <mat-select placeholder="Puesto" name="puesto" [disabled]="!currTrainingDate.id" [(ngModel)]="selectedPuesto"
                            (selectionChange)="puestoChange()">
                  <mat-option value="0" style="height: 32px; font-size: 12px; padding: 10px; margin: 0;">Todos</mat-option>
                  <mat-option *ngFor="let puesto of puestos" [value]="puesto.id" style="height: 32px; font-size: 12px; padding: 10px; margin: 0;">
                    {{puesto.nombrePuesto}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width: 250px; vertical-align: bottom;">
                <input matInput placeholder="Nombre Empleado" aria-label="Nombre" [matAutocomplete]="auto" [formControl]="searchField">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let empleado of listaEmp" [value]="empleado.nombre" style="height: 32px; font-size: 12px; padding: 10px; margin: 0;">
                    {{empleado.nombre}}
                  </mat-option>
                </mat-autocomplete>
                <!--<mat-select placeholder="Empleado" name="empleado" [disabled]="!currTrainingDate.id" [(ngModel)]="selectedEmpleado">
                  <mat-option value="0">Todos</mat-option>
                  <mat-option *ngFor="let empleado of empleados" [value]="empleado.id">{{empleado.nombreEmpleado}} {{empleado.apellidoPaterno}}
                    {{empleado.apellidoMaterno}}</mat-option>
                </mat-select>-->
              </mat-form-field>
              <hr>
              <button type="button" mat-button [disabled]="!empleadosReady" (click)="AddEmployee()" color="accent">
                <i class="material-icons md-18">add_circle_outline</i> Agregar
              </button>
              <button type="button" mat-button [disabled]="!rowselected" (click)="DelEmployee()" color="accent">
                <i class="material-icons md-18">delete</i> Eliminar
              </button>
            </div>
            <ag-grid-angular #agGrid style="width: 100%; height: 200px;" class="ag-theme-fresh"
                             id="employesGrid"
                             rowHeight="18px"
                             [gridOptions]="employesGrid"
                             [autoGroupColumnDef]="employesGrid.columnDefs"
                             [rowData]="employesGrid.rowData"
                             (selectionChanged)="onSeletedRowEmployesGrid($event)"
                             (gridReady)="onEmployeesGridReady($event)"
            >
            </ag-grid-angular>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
