
/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';*/




/* .angular-cli.json*/
@import '../node_modules/ag-grid/dist/styles/ag-grid.css';
@import '../node_modules/ag-grid/dist/styles/ag-theme-fresh.css';


.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  background-image: url("assets/images/meadjohnson.jpg");
  width: 200px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.itweb-form {
  background-color: #fff;
  width: 100%;
  border-top: solid .5rem #EA3592; /*#4054b2;*/
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 0 0 .5rem #8A8C8C;
  margin-top: .5rem;
}

.itweb-formtitle {
  background-color: #b1b1b1;
  border-bottom: solid 1px #fff;
  /*padding-left: .5rem;
  padding-top: .5rem;*/
  margin-bottom: .5rem;
  color: #fff;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  border-radius: .3rem;
  text-shadow: 0 0 .2rem #093b65;
}

.itweb-inner-form {
  margin-top: .5rem;
  border-top: 3px solid #EA3592;
}

.itweb-inner-form button mat-checkbox input mat-select{
  font-size: 12px;
  font-weight: normal;
}

.itweb-maincontent {
  align-content: center;
}

.itweb-listheader {
  margin: .5rem;
  justify-content: space-around;
  background-color: #e0e0e0;
  color: #677685;
  box-shadow: 0 0 .2rem #677685;
  border-bottom: 1px solid #093b65;
}

.itweb-card-acciones {
  display: inline-block;
  background: #f0f0f0;
  border-bottom: 1px solid #093b65;
  padding: 0;
  border-radius: 5px;
}

.itweb-card-button-acciones {
  font-size: small;
  color: grey;/*#295880;*/
}


.ag-theme-fresh .ag-row-selected {
  background-color: rgba(234, 53, 146, 0.5);
}

.it-web-table-container {
  border: 1px solid lightpink;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  margin: 2px;
  vertical-align: top;
}

.it-web-table-container-section-title {
  font-size: 18px;
  color: #EA3592;
}

/*.itweb-det-cursos {
  font-weight: lighter;
  color: hotpink;
}*/
.itweb-tablerow-style {
  border-bottom: 1px dotted lightpink;
}

.itweb-det-etiquetas {
  color: deeppink;
  font-size: 12px;
  vertical-align: top;
}

.itweb-det-campos {
  font-size: 12px;
}

.itweb-tool-bar {
  width: 100%;
  background: lightgray;
  border-radius: 5px;
  /*color: #fff;
  font-size: 14px;
  font-weight: lighter;*/
  padding: 5px;
  margin-bottom: 10px;
}

.itweb-mat-options {
  height: 32px;
  font-size: 12px;
  padding: 10px;
  margin: 0;
}
