<div style="margin-top: 30px">
  <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="mat-background-accent">
    <mat-form-field style="width: 100%;" color="accent">
      <mat-icon matPrefix style="color: #858585; margin-right: 5px;">mail_outline</mat-icon>
      <input formControlName="loginEmail" type="email" matInput name="userid" id="userid" placeholder="email:" required>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%; margin-right: 5px;" color="accent">
      <mat-icon matPrefix style="color: #858585">vpn_key</mat-icon>
      <input formControlName="loginPassword" type="password" matInput name="pass" id="pass" placeholder="Password:" required>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button="" color="accent" [disabled]="!loginForm.valid">
      <i class="material-icons">done_all</i>
      <!--<mat-icon>done_all</mat-icon>-->
      Ingresar
    </button>
  </form>
</div>
