<mat-card class="itweb-inner-form">
<!--  <div class="itweb-dialogheader">
    <span>Mensaje de la Aplicación</span>
  </div>-->
  <mat-card-content>
    <div class="itweb-contenido">
      <div class="idweb-icono">
        <i [class]="icono"></i>
      </div>
      <div class="itweb-mensaje">
      {{data.mensaje}}
      </div>
    </div>
    <div class="itweb-botones">
      <mat-dialog-actions>
        <button mat-raised-button [mat-dialog-close]="data.icono"><i class="material-icons">done</i> Aceptar </button>
        <button mat-raised-button (click)="onCancel()" *ngIf="dialogtype===2"><i class="material-icons">clear</i> Cancelar </button>
      </mat-dialog-actions>
    </div>
  </mat-card-content>
</mat-card>
