.itweb-dialogcontainer{
  width: 60%;
  box-shadow: 0 0 .4rem #677685;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ebeaee;
}

.itweb-dialogheader {
  background: #4054b2;
  color: #fff;
  font-size: large;
  padding: 10px;
}

.itweb-contenido {
  display: flex;
  padding: 10px
}

.idweb-icono {
  padding: 30px;
  border-right: 3px solid dimgray;
}

.itweb-mensaje {
  display: block;
  margin: 2rem;
  padding: 20px;
  font-style: inherit;
  font-size: 14px;
  text-align:justify ;
  color: #677685;
}

.itweb-botones {
  border-top: 1px solid #e0e0e0;
  width: auto;
  padding: 20px;
}



